

body{
    background-color:darkgray;
}

h1{
    color: aqua;
}

h2{
    color:black;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
}

img{
    width: 300px;height: 300px;
    border-radius: 8px;
}
